@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <h1>Ben's Bangin' Beats</h1>
        <h2 class="lead">100% NO TOP HITS</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>ARTISTS</h2>
            <p><a class="btn btn-default" href="~/Artists/Index">Click Here &raquo;</a></p>
        </div>
        <div class="col-lg-6">
            <h2>ALBUMS</h2>
            <p><a class="btn btn-default" href="~/Records/Index">Click Here &raquo;</a></p>
        </div>
    </div>
</div>